<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Favorite Authors</h1>
    <h2>Add a new author:</h2>
    <form (submit)="submitNewAuthor()">
        Name: <input type="text" name="new_author.name"[(ngModel)]="new_author.name"/>
        <input type="submit" value="submit"/>
        
    </form>
    <button [routerLink]="['/']">Cancel</button>
    
</body>
</html>

